@media (max-width: 768px) {
    section.hero {
        max-width: 100%;
        flex-direction: column;
        padding: 20px;

        div.content {
            width: 100%;

            h1.hero__name {
                font-size: 1.8rem;
                text-align: center;
            }

            p.hero__description {
                font-size: 1rem;
                text-align: start;
            }

            div.hero__btn-group {
                flex-direction: column;
                align-items: center;
                gap: 10px;

                button.hero__btn-contact {
                    width: 80%;
                }
            }

            div.hero__social-media {
                text-align: center;
                justify-content: center;
            }

        }

        div.content+div.hero__image {
            margin-top: 20px;
        }

        div.hero__image {
            max-width: 80%;
        }

        div.hero__social-media {
            a.hero__social-link {
                font-size: 1.2rem;
                padding: 6px;
            }
        }
    }
}